/* Fondo sitio */
body {
    background-color: #003551;
}
/* Fondo login para logo escribiendo */
#page-login-index .card-header {
    background-color: rgb(0,84,124);
}
/* Login recordar nombre de usuario */
.rememberpass {
   display: none;
}
/* Encabezado página inicio Escribiendo */
#page-mod-emarking-activities-index header#page-header {
    display: none;
}
#page-mod-emarking-activities-index #region-main {
    border: none;
    padding: 0px;
}
/* Header de navegación del sitio */
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar .usermenu .userbutton:hover {
    color: #eee;
   font-size: 1.3em;
}
.navbar-light .navbar-nav .nav-link, .navbar .usermenu .userbutton {
    color: #fff;
   font-size: 1.3em;
}
.navbar .usermenu .userbutton, .navbar .usermenu .userbutton:hover {
   font-size: 1em;
}
.navbar {
    background-color: rgb(0,84,124) !important;
    color: white;
}
.navbar .bg-white {
    background-color: none;
}
/* Menú del sitio */
#nav-drawer [data-key="calendar"], #nav-drawer [data-key="privatefiles"] {
    display: none;
}
.navbar .site-name {
    display: none !important;
}
#nav-drawer {
    background-color: rgb(0,84,124) !important;
}
.path-mod-emarking .nav-item .active {
    border-top: 2px solid blue;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}