@charset "utf-8";
/* CSS Escribiendo */
.row_caract {
	background-color: #117E89;
}
.row_info {
	background-color: white;
}
/* CSS Activities */
.row_actividades {
	background-color: #003551;
	color: white;
	font-size: 12px;
}
.tit_actv {
	background-image: url(../img/index/tit_actividades.png);
	height: 85px;
	background-repeat: no-repeat;
}
.h2tit_actv a{
	color: white;
}
.h2tit_actv a:hover{
	opacity: 0.5;
	text-decoration:none;
}
.subtit_actv {
	opacity: 0.5;
}
.text_actv {
	font-size: 12px;
	opacity: 0.7;
}
.img_actv {
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 374px;
}
.img1_actv {
	background-image: url(../img/index/img_fnd01.jpg);
}
.img2_actv {
	background-image: url(../img/index/img_fnd02.jpg);
}
.img3_actv {
	background-image: url(../img/index/img_fnd03.jpg);
}
.col_height {
	min-height: 374px;
	padding: 15 25 0 25px;
}
/* CSS Us */
.tit_blue {
	color: #06C;
}
.text_grey1 {
	color: #333333;
}

.text_grey {
color: #727176;
font-size: 0.7em;
}
/* footer */
#container_footer, #container2_footer, #container3_footer {
	width: 100%;
	background-color: #353535;
	position: relative;
}
#container_footer {
	height: 80px;
	vertical-align: baseline;
}
#container2_footer {
	height: 90px;
}


.clear {
	clear: both;
}

.col01_footer {
	float: left;
	width: 80%;
	height: 80px;
	background-image:url(../img/footer/tit_contacto.png);
	background-repeat: no-repeat;
}

.col02_footer {
	float: right;
	width: 5%;
	position: relative;
}

.col02a_footer {
	float: right;
	width: 15%;
	position: relative;
}

.col03_footer {
	float: left;
	margin-left: 30px;
	margin-top: 0px;
	width: 40%;
	color: #F90;
	font-size: 1.0em;
	position: relative;
}

.col03a_footer {
	float: right;
	padding-right: 10px;
	text-align: right;
	width: 50%;
	color: #999;
	font-size: 0.8em;
}

.col03b_footer {
	float: left;
	margin-left: 30px;
	width: 27%;
	color: #F90;
	font-size: 1.0em;
	position: absolute;
	left: 4px;
	bottom: 5px;
}

.col03c_footer {
	float: left;
	margin-left: 30px;
	width: 25%;
	color: #F90;
	font-size: 1.0em;
	position: relative;
}

hr { margin-top: 2px;}

/* ficha resultado */
.text_ficha_cierre {
	font-family: "Century Gothic", "Myriad Pro", "Myriad Pro Light";
	font-size: 11px;
	padding: 3;
}

#div-sep { 
border-left: 1px solid #999; 
width:1px;
min-height:100%; 
} 

/* tab hello world */
.active_tab >li.active  a{
    background-color: #ffffff !important;
    box-shadow: inset 0 3px 0 #06C;
    color: #29324e;
	z-index: 1;
	font-size: 1.5em;
}
.nav-tabs>li>a {
	font-size: 1.5em;
}
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('star_full.png') no-repeat;
}
.ratings_over {
    background: url('star_highlight.png') no-repeat;
}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
#emarking-main{
	width: 100%;
}
#emarking-download{
	width:60%;
}
.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }
 .title_result{
 line-height: 0.1;
 }
 .result_list{
 display: inline-block
	
 }
 .activity_buttons{
 padding: 5px;
 width: 170px;
 }
 .gradingform_rubric .criteria {
  height: auto;
}
 .score {
 display: none;
 }
 .options{
 display: none;
 }