

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style_escribiendo.css" rel="stylesheet" type="text/css">
</head>
<footer>
<div class="navbar navbar-inverse navbar-fixed">

  <div class="container">
     <div class="navbar-text pull-left">

         <div id="container_footer">
           <div class="col01_footer"></div>
           
           <div class="clear"></div>
         </div>
         
         <div id="container2_footer">
           <div class="col03_footer"><img src="../img/footer/icono_home.png">Periodista José Carrasco Tapia N75,Santiago, Chile</div>
           <div class="col03a_footer">2017 All right reserved.</div>
           <div class="col03_footer"><img src="../img/footer/icono_whatsapp.png">+56 2 978 22762</div>
           <div class="col03b_footer"><img src="../img/footer/icono_mail.png">comunicaciones@ciae.uchile.cl</div>
           <div class="col02_footer">
           <img src="../img/footer/icono_face.png">
           </div>
           <div class="col02_footer">
           <img src="../img/footer/icono_twetter.png">
           </div>

           
           <div class="clear"></div>
           
         </div>
<hr>

<div id="container_footer">
           <div class="col02a_footer">
           <img src="../img/footer/agencia_calidad.png">
           </div>
           <div class="col03c_footer">
           <img src="../img/footer/ciae.png">
           </div>
           <div class="col03c_footer">
           <img src="../img/footer/fundacionarauco.png">
           </div>
           <div class="col03c_footer">
           <img src="../img/footer/fondef.png">
           </div>
           
           
       </div>


     </div>
  </div>

</div>
</footer>
